:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-bg-color: #242424; /* Eerie Black */
  --dark-text-color: #242424; /* Eerie Black */
  --light-bg-color: #fffbfa; /* White */
  --light-text-color: #fffbfa; /* White */

  --success-color: #7a9b76; /* Asparagus */
  --danger-color: #ff2e00; /* Scarlet */
  --warning-color: #fcba04; /* Selective Yellow */
  --info-color: #2892d7; /* Celestial Blue */

  --primary-color: #1d70a2; /* Bice Blue */
  --secondary-color: #cdcdcd; /*Anti-flash White */
}

body {
  /* margin: 0;
  padding: 2rem; */
  line-height: 1;
}

/* Anchor tag */
a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--info-color);
  text-decoration: underline;
}

/* buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--primary-color);
}
button:disabled {
  background-color: var(--secondary-color);
  color: var(--dark-text-color);
  cursor: not-allowed;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

form label {
  margin-bottom: 6px;
}

form input,
form textarea,
form select {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--dark-bg-color);
  border-radius: 8px;
  transition: border-color 0.2s ease;
}

form input:focus,
form textarea:focus,
form select:focus {
  border-color: var(--dark-bg-color);
  outline: none;
  background-color: var(--light-bg-color);
}

form button {
  margin-top: 32px;
}

/* Header and Navigation */

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  form {
    width: 480px;
  }
}

@media screen and (min-width: 1024px) {
  form {
    width: 540px;
  }
}

@media screen and (min-width: 1152px) {
  form {
    width: 600px;
  }
}
